<div id="aboutContent" class="row">
    <div class="col-md-12">
        <h3>About</h3>
        <hr />
        <p>
            The Northwest Arkansas Developers Group is a 501(c)(3) non-profit organization that is dedicated to the promotion, education, and adoption of technologies to develop applications and websites.
        </p>
        <p>
            We strive to provide an environment for professionals to network in Northwest Arkansas to foster the free exchange of ideas and information.
        </p>
        <p>
            We hold monthly meetings that have presentations that allow you to keep up to date on the latest emerging .NET technologies as well as providing practical skills you can apply immediately.
        </p>
        <p>
            <strong>Northwest Arkansas Developers Group, Inc.</strong><br />
            Rogers, AR 72758
        </p>
        <p>
            <strong>Meeting Time:</strong><br />
            6:00 PM - 8:30 PM -- Second Tuesday of each month
        </p>
        <p>
            <strong>2014 Officers</strong><br />
            President - Randy Walker - president[at]nwadg.org<br />
            Vice President - Ryan Wells - vicepresident[at]nwadg.org<br />
            Secretary - Rob Wirges - secretary[at]nwadg.org<br />
            Treasurer - Zach Young - treasurer[at]nwadg.org
        </p>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $(".nav>li:nth-child(6)").addClass("active");
        });
    </script>
}
