<div id="learnContent" class="row">
    <div class="col-md-12">
        <h3>Learn</h3>
        <hr />
        <p>
            User Groups, and professional groups in general, are a great way to network, become informed, better yourself,
            and stay connected to the community at large.
        </p>
        <p>
            Why attend a User Group Meeting? The following are some of the many benefits of attending a User Group Meeting.
        </p>
        <h5>AUGMENT YOUR TECHNICAL TRAINING</h5>
        <p>
            User Group meetings are important. They augment the necessary training that professionals need. The content and
            materials being presented on these meetings are of high value. Speakers are the cream of the crop – they are MVP’s
            and Experts on their field. You are always sure that every meeting you attend will equip you with or help hone your
            critical skills necessary to accomplish your job.
        </p>
        <h5>PROVIDE VENUE FOR NETWORKING</h5>
        <p>
            User group meetings does not only help you gain more knowledge but also bring you closer to other people in your niche.
            Professionals are finding values in networking. This brings yet another manifold opportunity. People connect with people
            for many reasons – professional and otherwise. Whatever that reason may be, networking will help you expand your, well,
            network, at least.
        </p>
        <h5>PROVIDE STAGE TO SHOWCASE YOUR SKILLS</h5>
        <p>
            If you are more into helping other people to learn, User Group meetings are the perfect places for you to showcase and share
            your skills. Experts are experts because they are always willing to share their knowledge. Period. Whatever that means. That’s
            what MVP’s, Experts, and book Authors will tell you – they hone their skills by actually teaching what they already know.
            People attending User Groups are bright people. They throw lots of great questions in the discussion. The speakers’ technical
            know-how’s are often tested in the Q&A portion of the meeting. They also learn in the process.
        </p>
        <h5>LEAD TO CHANNEL OF OPTIONS</h5>
        <p>
            Are you looking for a new job or new consulting opportunity? Attending User Group meetings will boost your chances of pinning a
            new job or getting a new deal. If you are active in participating community-based activities, such as User Group meetings, it
            talks something about your character. The community will perceive your being active as a positive attitude towards your willingness
            to learn. We all go to User Group meetings not only to mingle but, more importantly, to learn. Your enthusiastic characteristic
            towards learning pose a "plus points" to those who are looking for candidates, who might happen to be on the same meeting you are
            in. Open your eyes and ears.
        </p>
        <p>
            There are more benefits to attending User Group meetings, of course, than what I have mentioned above. Chances are you have
            benefited in more ways than one.
        </p>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $(".nav>li:nth-child(3)").addClass("active");
        });
    </script>
}
