<div id="homeContent" class="row">
    <div class="col-md-6">
        <h3>Northwest Arkansas Developers Group</h3>
        <hr />
        <p>
            The Northwest Arkansas Developers Group is a non-profit organization that is dedicated to the promotion, education,
            and adoption of technologies to develop applications and websites. We strive to provide an environment for professionals
            to network in Northwest Arkansas to foster the free exchange of ideas and information.
        </p>
        <p>
            We hold monthly meetings that have presentations that allow you to keep up to date on the latest emerging .NET
            technologies as well as providing practical skills you can apply immediately.
        </p>
        <h3>Monthly Meetings</h3>
        <hr />
        <p>
            The Northwest Arkansas Developers Group meets the 2nd Tuesday of every month.
        </p>
        <p>
            <strong>NEW MEETING LOCATION:</strong><br />
            <address>
                Rockfish Interactive<br />
                3100 Market St., Suite 100<br />
                Rogers, AR 72758<br />
                <a href="http://g.co/maps/36j3h" target="_blank">View Google Map</a> | <a href="http://binged.it/JC5pFb" target="_blank">View Bing Map</a><br />
                (Use main lobby doors in center of building)
            </address>
        </p>
        <p>
            <strong>Agenda</strong>
        </p>
        <p>
            <address>
                6:00 PM - 6:15 PM - Welcome and News, Sign-in and Food<br />
                6:15 PM - 8:15 PM - Main & Lightning Presentations<br />
                8:15 PM - 8:30 PM - Closing and Prize give-a-ways
            </address>
        </p>
    </div>
    <div class="col-md-3">
        <div id="events">
            <h5>UPCOMING EVENTS</h5>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        </div>
    </div>
    <div class="col-md-3">
        <div id="sponsors">
            <h5>PLATINUM SPONSORS</h5>
            <a href="http://www.microsoft.com/" target="_blank"><img src="~/Content/images/sponsors/sponsor-microsoft.gif" alt="Microsoft" /></a><br /><br />
            <a href="http://ineta.org/" target="_blank"><img src="~/Content/images/sponsors/sponsor-ineta.gif" alt="INETA" /></a><br /><br />
            <a href="http://www.teksystems.com/" target="_blank"><img src="~/Content/images/sponsors/sponsor-teksystems.gif" alt="Tek Systems" /></a>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(function () {
            $(".nav>li:nth-child(1)").addClass("active");
        });
    </script>
}