<div id="homeContent" class="row">
    <div class="col-md-9">
        <h3>Northwest Arkansas Developers Group</h3>
        <hr />
        <p>
            The Northwest Arkansas Developers Group (formerly Northwest Arkansas .NET Users Group) is a non-profit organization that is dedicated to the promotion, education,
            and adoption of technologies to develop applications and websites. We strive to provide an environment for professionals
            to network in Northwest Arkansas to foster the free exchange of ideas and information.
        </p>
        <p>
            We hold monthly meetings that have presentations that allow you to keep up to date on the latest emerging .NET
            technologies as well as providing practical skills you can apply immediately.
        </p>
        <h3>Monthly Meetings</h3>
        <hr />
        <p>
            The Northwest Arkansas Developers Group meets the 2nd Tuesday of every month.
        </p>
        <p>
            <strong>MEETING LOCATION:</strong><br />
            <address>
                Rockfish Interactive<br />
                3100 Market St., Suite 100<br />
                Rogers, AR 72758<br />
                <a href="http://g.co/maps/36j3h" target="_blank">View Google Map</a> | <a href="http://binged.it/JC5pFb" target="_blank">View Bing Map</a><br />
                (Use main lobby doors in center of building)
            </address>
        </p>
        <p>
            <strong>Agenda</strong>
        </p>
        <p>
            <address>
                6:00 PM - 6:15 PM - Welcome and News, Sign-in and Food<br />
                6:15 PM - 7:45 PM - Main & Lightning Presentations<br />
                7:45 PM - 8:00 PM - Closing and Prize give-a-ways
            </address>
        </p>
    </div>
    <div class="col-md-3">
        <div id="events" style="text-align: center; background-color: #333">
            <h5>UPCOMING EVENTS</h5>
            <p>
                <a href="http://www.eventbrite.com/o/northwest-arkansas-developers-group-592078741" target="_blank">View EventBrite Events</a><br/>
                <div style="margin: 5px; width:195px; text-align:center;"><iframe src="https://www.eventbrite.com/countdown-widget?eid=16048186558" frameborder="0" height="392" width="195" marginheight="0" marginwidth="0" scrolling="no" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:195px; text-align:center;"><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/ecount">Sell Tickets</a> <span style="color:#ddd;">through</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=ecount">Eventbrite</a></div></div>
            </p>
        </div>
        <div id="sponsors" style="text-align: center;">
            <h5>PLATINUM SPONSORS</h5>
            <div style="border: 1px solid #333; margin-top: -10px; padding: 10px 0">
                <a href="http://www.microsoft.com/" target="_blank"><img src="~/Content/images/sponsors/sponsor-microsoft.gif" alt="Microsoft" /></a><br /><br />
                <a href="http://ineta.org/" target="_blank"><img src="~/Content/images/sponsors/sponsor-ineta.gif" alt="INETA" /></a><br /><br />
                <a href="http://www.teksystems.com/" target="_blank"><img src="~/Content/images/sponsors/sponsor-teksystems.gif" alt="Tek Systems" /></a>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(function () {
            $(".nav>li:nth-child(1)").addClass("active");
        });
    </script>
}