<div id="sponsorContent" class="row">
    <div class="col-md-12">
        <h3>Sponsors</h3>
        <hr />
        <p>
            The Northwest Arkansas Developers Group has always been proud of the fact that we have been able to offer professional meetings and
            speakers without charging our members dues or event fees. We have only been able to do this because of the excellent support we have
            received from individuals and corporate sponsors.
        </p>
        <h5>PLATINUM SPONSORSHIP - BECOME A SPONSOR</h5>
        <p>
            <a href="http://microsoft.com/" target="_blank"><img src="~/Content/images/sponsors/sponsor-microsoft.gif" alt="Microsoft" /></a>
        </p>
        <p>
            <a href="http://microsoft.com/" target="_blank">Microsoft</a> is the reason we are here, and they have been exteremly supportive of us.
        </p>
        <p>
            <a href="http://www.teksystems.com/" target="_blank"><img src="~/Content/images/sponsors/sponsor-teksystems.gif" alt="Tek Systems" /></a>
        </p>
        <p>
            <a href="http://www.teksystems.com/" target="_blank">Tek Systems&reg;</a> is the leading IT staffing
            and services company. Our capabilities span a wide range of services: from technical
            staff augmentation and direct placement services, to full management of IT projects
            and comprehensive workforce management solutions.
        </p>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $(".nav>li:nth-child(5)").addClass("active");
        });
    </script>
}
