<div id="sponsorContent" class="row">
    <div class="col-md-12">
        <h3>Sponsors</h3>
        <hr />
        <p>
            The Northwest Arkansas Developers Group has always been proud of the fact that we have been able to offer professional meetings and
            speakers without charging our members dues or event fees. We have only been able to do this because of the excellent support we have
            received from individuals and corporate sponsors.
        </p>
        <div id="sponsorLogos" style="float:left;">
            <a href="http://microsoft.com/" target="_blank"><img src="~/Content/images/sponsors/sponsor-microsoft.gif" alt="Microsoft" /></a>
            <a href="http://www.teksystems.com/" target="_blank"><img src="~/Content/images/sponsors/sponsor-teksystems.gif" alt="Tek Systems" /></a>
            <a href="http://www.jetbrains.com/" target="_blank"><img src="~/Content/images/sponsors/sponsor-jetbrains.gif" alt="JetBrains" /></a>
            <a href="http://www.oreilly.com/" target="_blank"><img src="~/Content/images/sponsors/sponsor-oreilly.gif" alt="O'Reilly" /></a>
            <a href="http://www.telerik.com/" target="_blank"><img src="~/Content/images/sponsors/sponsor-telerik.gif" alt="Telerik" /></a>
            <a href="http://www.devexpress.com/" target="_blank"><img src="~/Content/images/sponsors/sponsor-devexpress.gif" alt="DevExpress" /></a>
            <a href="http://www.mindscapehq.com/" target="_blank"><img src="~/Content/images/sponsors/sponsor-mindscape.gif" alt="DevExpress" /></a>
            <a href="http://www.pluralsight.com/" target="_blank"><img src="http://www.pluralsight-training.net/microsoft/sponsorships/pluralsight-logo-for-sponsorships-small.png" alt="Pluralsight" /></a>
            <a href="http://www.discountasp.net/nwadnug/" target="_blank"><img src="~/Content/images/sponsors/sponsor-discountasp.gif" alt="DiscountASP" /></a>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $(".nav>li:nth-child(5)").addClass("active");
        });
    </script>
}
