<div id="teachContent" class="row">
    <div class="col-md-12">
        <h3>Teach</h3>
        <hr />
        <p>
            The Northwest Arkansas Developers Group (NWADG) is a place where technical peers interact and expand each other's knowledge bases.
        </p>
        <h5>PUBLIC SPEAKING</h5>
        <p>
            The NWADG is a great place to develop your presentation and pulbic speaking skills by practicing with topics relevant to your peers and your industry.
        </p>
        <h5>ACCELERATE YOUR LEARNING</h5>
        <p>
            Learning without others can be difficult; you need to leave the echo chamber and bounce your ideas of off peers for them to evolve into greatness.
        </p>
        <h5>ADVANCED LEARNING THROUGH PREPARATION</h5>
        <p>
            The greatest method of learning is by teaching; diving into the "guts" of a topic in order to gain a high level of understanding.
        </p>
        <h5>SHARE YOUR EXPERINCES</h5>
        <p>
            Everyone has a different perspective on topics; the NWADG meeting is a great place to expand upon topic's in greater depth.
        </p>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $(".nav>li:nth-child(4)").addClass("active");
        });
    </script>
}
