<div id="connectContent" class="row">
    <div class="col-md-9">
        <h3>Connect</h3>
        <hr />
        <p>
            User Groups, and professional groups in general, are a great way to network, become informed, better yourself,
            and stay connected to the community at large.
        </p>
        <h5>NETWORKING</h5>
        <p>
            User Groups are one of the best ways to meet new like-minded individuals and make new friends. Along with our
            monthly meetings, we also try to offer less-formal settings to allow relationships to be built. Among these events
            are our monthly post-meeting 'Nerd Dinners' as well as nights at the ballpark and bowling nights.
        </p>
        <h5>BECOME INFORMED</h5>
        <p>
            Curious about that new technology, but don't have the time to learn it? Want to learn about that new software package,
            but don't have the money to sink into trying it out? Well worry no more, our monthly meetings are perfect solution for
            you. We have a different guest speaker every month covering a wide range of topics. Along with the main presentation,
            we also have short 'Lightning' presentations geared toward providing you with that 'quick win' that you can start using
            immediately to make your life easier.
        </p>
        <h5>BETTER YOURSELF</h5>
        <p>
            Not only do User Groups look great on a resumé, but did you know that they can also help you get your next job? We have
            great relationships with local Recruiting Agencies which are always looking for informed enthusiastic professionals for
            local, and no so local, positions. User Groups also allow you to meet and interact with employees from other companies
            in the area who may be looking for people as well. Its always helpful to know someone on the inside, right? We also offer
            great opportunities for you to grow your skills by helping coordinate community events, helping the group grow, or even
            become a group leader.
        </p>
        <h5>STAY CONNNECTED</h5>
        <p>
            There are many ways to stay connected with your fellow User Group Members. The most popular of which is Social Networking.
            Our members partcipate in many different Social Networks, the most popular of which are
            <a href="http://www.facebook.com/" target="_blank">Facebook</a>, <a href="http://www.twitter.com/" target="_blank">Twitter</a>,
            and <a href="http://www.linkedin.com/" target="_blank">LinkedIn</a>. So sign up, and stay connected!
        </p>
    </div>
    <div class="col-md-3">
        <div id="connectWithUs">
            <h5>CONNECT WITH US</h5>
            <div><a href="http://twitter.com/nwadg"><img src="~/content/images/logo-twitter.gif" alt="Follow us on Twitter!" /></a></div>
            <div><a href="https://www.facebook.com/nwadg"><img src="~/content/images/logo-facebook.gif" alt="Join our Facebook group!" /></a></div>
            <div><a href="https://www.linkedin.com/groups/Northwest-Arkansas-Developers-Group-58402"><img src="~/content/images/logo-linkedin.gif" alt="Join our LinkedIn group!" /></a></div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(function () {
            $(".nav>li:nth-child(2)").addClass("active");
        });
    </script>
}