@{
    ViewBag.Title = "NWADNUG: About Us";
}
<div class="post">
    <h1 class="title">
        About</h1>
    <p>
        The Northwest Arkansas .NET User Group is a 501(c)(3) non-profit organization that
        is dedicated to the promotion, education, and adoption of Microsoft .NET Technologies.</p>
    <p>
        We strive to provide an environment for professionals to network in Northwest Arkansas
        to foster the free exchange of ideas and information.</p>
    <p>
        We hold monthly meetings that have presentations that allow you to keep up to date
        on the latest emerging .NET technologies as well as providing practical skills you
        can apply immediately.</p>
    <p>
        <strong>Northwest Arkansas .NET User Group, Inc.</strong><br />
        Rogers, AR 72758<br />
    </p>
    <p>
        <strong>Meeting Time:</strong>
        <br />
        6:00 PM - 8:30 PM -- Second Tuesday of each month
    </p>
    <p>
        <strong>2012 Officers</strong><br />
        President - Robby Gregory - president[at]nwadnug.org<br />
        Vice President - Ryan Wells - vicepresident[at]nwadnug.org<br />
        Secretary - Paul Clements - secretary[at]nwadnug.org<br />
        Treasurer - Zach Young - treasurer[at]nwadnug.org
    </p>
    <br />
    <br />
</div>

@section ScriptContent
{
    <script type="text/javascript">
        $(function () {
            $("#menu>ul>li:nth-child(6)").addClass("current_page_item");
        });
    </script>
}