@{
    ViewBag.Title = "NWADNUG: Learn";
}
<div class="post">
    <h1 class="title">
        Learn</h1>
    <p>
        User Groups, and professional groups in general, are a great way to network, become
        informed, better yourself, and stay connected to the community at large.
    </p>
    <p>
        Why attend a User Group Meeting? The following are some of the many benefits of
        attending a User Group Meeting.
    </p>
    <h2>
        Augment Your Technical Training</h2>
    <p>
        User Group meetings are important. They augment the necessary training that professionals
        need. The content and materials being presented on these meetings are of high value.
        Speakers are the cream of the crop – they are MVP’s and Experts on their field.
        You are always sure that every meeting you attend will equip you with or help hone
        your critical skills necessary to accomplish your job.
    </p>
    <h2>
        Provide Venue For Networking</h2>
    <p>
        User group meetings does not only help you gain more knowledge but also bring you
        closer to other people in your niche. Professionals are finding values in networking.
        This brings yet another manifold opportunity. People connect with people for many
        reasons – professional and otherwise. Whatever that reason may be, networking will
        help you expand your, well, network, at least.
    </p>
    <h2>
        Provide Stage To Showcase Your Skills</h2>
    <p>
        If you are more into helping other people to learn, User Group meetings are the
        perfect places for you to showcase and share your skills. Experts are experts because
        they are always willing to share their knowledge. Period. Whatever that means. That’s
        what MVP’s, Experts, and book Authors will tell you – they hone their skills by
        actually teaching what they already know. People attending User Groups are bright
        people. They throw lots of great questions in the discussion. The speakers’ technical
        know-how’s are often tested in the Q&A portion of the meeting. They also learn in
        the process.
    </p>
    <h2>
        Lead To Channel Of Options</h2>
    <p>
        Are you looking for a new job or new consulting opportunity? Attending User Group
        meetings will boost your chances of pinning a new job or getting a new deal. If
        you are active in participating community-based activities, such as User Group meetings,
        it talks something about your character. The community will perceive your being
        active as a positive attitude towards your willingness to learn. We all go to User
        Group meetings not only to mingle but, more importantly, to learn. Your enthusiastic
        characteristic towards learning pose a “plus points” to those who are looking for
        candidates, who might happen to be on the same meeting you are in. Open your eyes
        and ears.
    </p>
    <p>
        There are more benefits to attending User Group meetings, of course, than what I
        have mentioned above. Chances are you have benefited in more ways than one.
    </p>
    <%--<h2>
        Events</h2>
    <p>
        <iframe src="http://www.google.com/calendar/hosted/nwadnug.org/embed?showTitle=0&amp;showTabs=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=events%40nwadnug.org&amp;color=%23A32929&amp;ctz=America%2FChicago"
            style="border-width: 0" width="800" height="600" frameborder="0" scrolling="no">
        </iframe>
    </p>
    --%>
</div>
<div style="clear: both;">
    &nbsp;</div>

@section ScriptContent
{
    <script type="text/javascript">
        $(function () {
            $("#menu>ul>li:nth-child(3)").addClass("current_page_item");
        });
    </script>
}