@{
    ViewBag.Title = "NWADNUG: Teach";
}
<div class="post">
    <h1 class="title">
        Teach</h1>
    <p>
        The Northwest Arkansas .NET User Group (NWADNUG) is a place where technical peers
        interact and expand each other's knowledge bases.
    </p>
    <h2>
        Public Speaking</h2>
    <p>
        The NWADNUG is a great place to develop your presentation and pulbic speaking skills
        by practicing with topics relevant to your peers and your industry.</p>
    <h2>
        Accelerate Your Learning</h2>
    <p>
        Learning without others can be difficult; you need to leave the echo chamber and
        bounce your ideas of off peers for them to evolve into greatness.</p>
    <h2>
        Advanced Learning Through Preparation</h2>
    <p>
        The greatest method of learning is by teaching; diving into the "guts" of a topic
        in order to gain a high level of understanding.</p>
    <h2>
        Share Your Experinces</h2>
    <p>
        Everyone has a different perspective on topics; the NWADNUG meeting is a great place
        to expand upon topic's in greater depth.</p>
    <br />
    <br />
</div>

@section ScriptContent
{
    <script type="text/javascript">
        $(function () {
            $("#menu>ul>li:nth-child(4)").addClass("current_page_item");
        });
    </script>
}