@{
    ViewBag.Title = "NWADNUG: Become a Sponsor";
}
<div class="post">
    <h1 class="title">
        Become a Sponsor</h1>
    <p>
        The Northwest Arkansas .NET User Group has always been proud of the fact that we
        have been able to offer professoinal meetings and speakers without charging our
        members dues or event fees. We have only been able to do this because of the excellent
        support we have received from individuals and corporate sponsors.
    </p>
    <p>
        We are always looking for new opportunities to partner with new sponsors.
    </p>
    <p>
        We will always accept sponsorship of any form, including special sponsorship at
        any time for various prizes, contests, etc.
    </p>
    <p>
        No sponsorship is too small!
    </p>
    <p>
        Thank you for helping us grow our community together!
    </p>
    <p>
        If you are interested in pursuing a sponsorship relationship with our organization
        or have an idea of how we could benefit each other please contact the <a href="mailto:officers@nwadnug.org">
            officers@nwadnug.org</a>.
    </p>
    <h2>
        Sponsorship Levels</h2>
    <p>
        <span style="font-weight: bold; font-size: 18px; color: #A97E00">Bronze Sponsorship
            - Less than $500 a year</span>
    </p>
    <p>
        Bronze sponsors will be listed as a club sponsor on the Sponsor page under the Bronze
        Sponsor section for the duration of their sponsorship.
    </p>
    <p>
        <span style="font-weight: bold; font-size: 18px; color: Silver">Silver Sponsorship -
            $500 to $999 a year</span>
    </p>
    <p>
        Silver Sponsors will be listed as a club sponsor on the Sponsor page under the Silver
        Sponsor section@*, and will have a banner added to the banner rotation for the
        duration of the sponsorship*@.
    </p>
    <p>
        <span style="font-weight: bold; font-size: 18px; color: Yellow">Gold Sponsorship - $1000
            to $1999 a year</span>
    </p>
    <p>
        Gold sponsors will be listed as a club sponsor on the Sponsor Page under the Gold
        Sponsor section@*, will have a banner added to the banner rotation for the duration
        of the sponsorship*@.
    </p>
    <p>
        <span style="font-weight: bold; font-size: 18px; color: Grey">Platinum Sponsorship -
            $2000 or more a year</span>
    </p>
    <p>
        Platinum Sponsors will be listed as a club sponsor on the Sponsor Page under the
        Platinum Sponsor section<%--, have a banner added to the banner rotation, will be
        listed as a Platinum Sponsor on the main page,--%> and will have the ability to
        setup an information table at club meeting for the duration of the sponsorship.
    </p>
    <p>
        &nbsp;
    </p>
</div>
<div style="clear: both;">
    &nbsp;</div>

@section ScriptContent
{
    <script type="text/javascript">
        $(function () {
            $("#menu>ul>li:nth-child(5)").addClass("current_page_item");
        });
    </script>
}